*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    background-color: lightblue;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.bluediv{
    background-color: blue;
    height: 75px;
    width: 75px;
}
.greencontainer{
    display: flex;
}
.greendiv{
    background-color: green;
    height: 75px;
    width: 75px;
    margin: 10px;
}

.violetdiv{
    position: absolute;
    background-color: violet;
    height: 20vh;
    width: 20vh;
    bottom: 0px;
}