*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 25px;
    display: flex;
    background-color: lightblue;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.bluediv{
    background-color: blue;
    height: 75px;
    width: 75px;
}
.greencontainer{
    display: flex;
}
.greendiv{
    display: flex;
    background-color: green;
    height: 75px;
    width: 75px;
    margin: 10px;
    justify-content: start;
    align-items: end;
}
.reddiv{
    background-color: red;
    height: 25%;
    width: 25%;
}

.bottom{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: end;
}
.violetdiv{
    background-color: violet;
    height: 100px;
    width: 100px;
}